<h1>Gathering Census Data</h1>

- Census statistics taken from cso.ie
- As we are looking at smaller populations within Dublin we took the statistics for each garda station within our areas of interest
- We were also limited to areas that we had a green space count for

In [1]:
import pandas as pd

# read files into data frames using pandas
# csv containing Census data of all themes for all garda sub divisions in Ireland
# csv obtained from cso.ie
df = pd.read_csv("AllThemesTablesGSD.csv",keep_default_na=False, na_values=[""])
df.head()

,GEOGID,GEOGTYPE,GEOGDESC,T1_1AGE0M,T1_1AGE1M,T1_1AGE2M,T1_1AGE3M,T1_1AGE4M,T1_1AGE5M,T1_1AGE6M,...,T15_1_GE4C,T15_2_Y,T15_2_N,T15_2_NS,T15_2_T,T15_3_B,T15_3_OTH,T15_3_N,T15_3_NS,T15_3_T
0,N1000F,GSD,Pearse Street,123,68,48,42,41,29,36,...,13,4658,1500,249,6407,4344,475,1363,225,6407
1,N1070G,GSD,Kevin Street,194,170,138,121,116,92,87,...,21,9051,3592,491,13134,8208,964,3472,490,13134
2,N1071E,GSD,Kilmainham,185,199,166,156,118,109,110,...,34,7154,2692,442,10288,6669,623,2588,408,10288
3,N1200K,GSD,Donnybrook,156,155,143,125,107,108,106,...,133,8960,1912,319,11191,8526,701,1665,299,11191
4,N1201G,GSD,Irishtown,153,141,112,108,87,100,95,...,79,8064,1799,326,10189,7557,621,1676,335,10189

In [2]:
# Extract the statitics for Garda Stations in areas of interest (limited to those that we have green space counts for)
# Dublin - Garda station sub divisions of interest
df_stations = df.loc[df['GEOGDESC'] == 'Kevin Street']
df_stations = df_stations.append(df.loc[df['GEOGDESC'] == 'Kilmainham'])
df_stations = df_stations.append(df.loc[df['GEOGDESC'] == 'Dun Laoghaire'])
df_stations = df_stations.append(df.loc[df['GEOGDESC'] == 'Cabinteely'])
df_stations = df_stations.append(df.loc[df['GEOGDESC'] == 'Shankill'])
df_stations = df_stations.append(df.loc[df['GEOGDESC'] == 'Blanchardstown'])
df_stations = df_stations.append(df.loc[df['GEOGDESC'] == 'Balbriggan'])
df_stations = df_stations.append(df.loc[df['GEOGDESC'] == 'Ballyfermot'])
df_stations = df_stations.append(df.loc[df['GEOGDESC'] == 'Ballymun'])
df_stations = df_stations.append(df.loc[df['GEOGDESC'] == 'BlackrockCoDublin'])
df_stations = df_stations.append(df.loc[df['GEOGDESC'] == 'BridewellDublin'])
df_stations = df_stations.append(df.loc[df['GEOGDESC'] == 'Cabra'])
df_stations = df_stations.append(df.loc[df['GEOGDESC'] == 'Clontarf'])
df_stations = df_stations.append(df.loc[df['GEOGDESC'] == 'Coolock'])
df_stations = df_stations.append(df.loc[df['GEOGDESC'] == 'Donnybrook'])
df_stations = df_stations.append(df.loc[df['GEOGDESC'] == 'Airport'])
df_stations = df_stations.append(df.loc[df['GEOGDESC'] == 'Finglas'])
df_stations = df_stations.append(df.loc[df['GEOGDESC'] == 'Fitzgibbon Street'])
df_stations = df_stations.append(df.loc[df['GEOGDESC'] == 'Garristown'])
df_stations = df_stations.append(df.loc[df['GEOGDESC'] == 'Howth'])
df_stations = df_stations.append(df.loc[df['GEOGDESC'] == 'Irishtown'])
df_stations = df_stations.append(df.loc[df['GEOGDESC'] == 'Lucan'])
df_stations = df_stations.append(df.loc[df['GEOGDESC'] == 'Lusk'])
df_stations = df_stations.append(df.loc[df['GEOGDESC'] == 'Malahide'])
df_stations = df_stations.append(df.loc[df['GEOGDESC'] == 'Mountjoy'])
df_stations = df_stations.append(df.loc[df['GEOGDESC'] == 'Pearse Street'])
df_stations = df_stations.append(df.loc[df['GEOGDESC'] == 'Raheny'])
df_stations = df_stations.append(df.loc[df['GEOGDESC'] == 'Santry'])
df_stations = df_stations.append(df.loc[df['GEOGDESC'] == 'Skerries'])
df_stations = df_stations.append(df.loc[df['GEOGDESC'] == 'Store Street'])
df_stations = df_stations.append(df.loc[df['GEOGDESC'] == 'Sundrive Road'])
df_stations = df_stations.append(df.loc[df['GEOGDESC'] == 'Swords'])

# Focus is on Dublin and its subdivisions but as we also have green space info for Galway City and Roscommon, the sub divisions for
# these two areas are extracted here as optional additional data for later in the analysis

# Galway - Garda station sub divisions of interest
df_stations = df_stations.append(df.loc[df['GEOGDESC'] == 'Salthill'])
df_stations = df_stations.append(df.loc[df['GEOGDESC'] == 'Galway'])

# Roscommon - Garda station sub divisions of interest
df_stations = df_stations.append(df.loc[df['GEOGDESC'] == 'Roscommon'])
df_stations = df_stations.append(df.loc[df['GEOGDESC'] == 'Athleague'])
df_stations = df_stations.append(df.loc[df['GEOGDESC'] == 'Boyle'])
df_stations = df_stations.append(df.loc[df['GEOGDESC'] == 'Ballaghaderreen'])
df_stations = df_stations.append(df.loc[df['GEOGDESC'] == 'Keadue'])
df_stations = df_stations.append(df.loc[df['GEOGDESC'] == 'Castlerea'])

df_stations.head()

# make a copy of the data frame - this will be used further on in the notebook to sum the ages of the population in each subdivision under 18
df_ages = df_stations

In [3]:
# Select themes of interest by their code
# A breakdown of the themes and their codes can be found in the file 'Census-Themes.xlsx'
# This file was again taken from cso.ie

df_stations = df_stations[['GEOGDESC','T1_1AGETM', 'T1_1AGETF', 'T1_1AGETT','T8_1_WT', 
                             'T8_1_LFFJT', 'T8_1_ULGUPJT', 'T8_1_ST', 'T8_1_LAHFT', 
                             'T8_1_RT', 'T8_1_UTWSDT', 'T8_1_OTHT',  
                             'T9_1_PWT', 'T9_1_MTT', 'T9_1_NMT', 'T9_1_ST', 'T9_1_SST', 'T9_1_UST', 
                             'T9_1_OTHGEUT', 'T10_1_LT15T', 'T10_1_15T', 'T10_1_16T', 
                             'T10_1_17T', 'T10_1_18T', 'T10_1_19T', 'T10_1_20T', 'T10_1_GE21T', 
                             'T10_1_NST', 'T10_2_SAST', 'T10_2_OTHT', 'T10_4_NFT', 
                             'T10_4_PT', 'T10_4_LST', 'T10_4_UST', 'T10_4_TVT', 'T10_4_ACCAT', 
                             'T10_4_HCT', 'T10_4_ODNDT', 'T10_4_HDPQT', 'T10_4_PDT', 'T10_4_DT', 
                             'T10_4_NST', 'T12_3VGT', 'T12_3GT', 'T12_3FT', 'T12_3BT', 
                             'T12_3VBT', 'T12_3NST']]
df_stations.head()

,GEOGDESC,T1_1AGETM,T1_1AGETF,T1_1AGETT,T8_1_WT,T8_1_LFFJT,T8_1_ULGUPJT,T8_1_ST,T8_1_LAHFT,T8_1_RT,...,T10_4_HDPQT,T10_4_PDT,T10_4_DT,T10_4_NST,T12_3VGT,T12_3GT,T12_3FT,T12_3BT,T12_3VBT,T12_3NST
1,Kevin Street,14740,14332,29072,13293,410,3015,4736,1158,1997,...,2423,2646,283,1224,15946,8625,2548,476,116,1361
2,Kilmainham,11724,12183,23907,11192,228,2399,2075,1127,2267,...,2344,2208,199,1151,13045,6712,2357,524,171,1098
33,Dun Laoghaire,17676,19938,37614,15146,176,2039,3884,2962,6187,...,3914,4173,551,1070,23149,10073,2938,502,124,828
34,Cabinteely,15800,16954,32754,13227,153,1571,3710,2849,4235,...,3244,2917,336,789,21554,8113,2025,303,74,685
37,Shankill,10929,11765,22694,9171,174,1670,2321,1757,2085,...,1642,1532,171,674,14517,5784,1618,256,57,462

In [4]:
# Rename theme codes accordingly
df_stations = df_stations.rename(columns={'GEOGDESC':'GardaStation', 'T1_1AGETM':'PopulationTotalMale',
                                'T1_1AGETF':'PopulationTotalFemale', 'T1_1AGETT':'PopulationTotal',
                                'T8_1_WT':'PrincipalStatusAtWork', 'T8_1_LFFJT':'PrincipalStatusLookingForFirstJob', 
                                'T8_1_ULGUPJT':'PrincipalStatusUnemployed', 'T8_1_ST':'PrincipalStatusStudent', 
                                'T8_1_LAHFT':'PrincipalStatusLookingAfterHome/Family', 'T8_1_RT':'PrincipalStatusRetired', 
                                'T8_1_UTWSDT':'PrincipalStatusUnableToWork', 'T8_1_OTHT':'PrincipalStatusOther', 
                                'T9_1_PWT':'SocialClassProfessionalWorkers', 
                                'T9_1_MTT':'SocialClassManagerialAndTechnical', 'T9_1_NMT':'SocialClassNonManual', 
                                'T9_1_ST':'SocialClassSkilledManual', 'T9_1_SST':'SocialClassSemiSkilled', 
                                'T9_1_UST':'SocialClassUnskilled', 'T9_1_OTHGEUT':'SocialClassOther', 
                                'T10_1_LT15T':'AgeEducationCeasedUnder15', 
                                'T10_1_15T':'AgeEducationCeasedAge15', 'T10_1_16T':'AgeEducationCeasedAge16',
                                'T10_1_17T':'AgeEducationCeasedAge17', 'T10_1_18T':'AgeEducationCeasedAge18', 
                                'T10_1_19T':'AgeEducationCeasedAge19', 'T10_1_20T':'AgeEducationCeasedAge20', 
                                'T10_1_GE21T':'AgeEducationCeasedAge21+', 'T10_1_NST':'AgeEducationCeasedNotStated', 
                                'T10_2_SAST':'EducationNotCeasedStillAtSchool', 
                                'T10_2_OTHT':'EducationNotCeasedOther', 'T10_4_NFT':'HighestLevelEducationNoFormalEducation', 
                                'T10_4_PT':'HighestLevelEducationPrimary', 'T10_4_LST':'HighestLevelEducationLowerSecondary', 
                                'T10_4_UST':'HighestLevelEducationUpperSecondary', 'T10_4_TVT':'HighestLevelEducationTechnicalQualification', 
                                'T10_4_ACCAT':'HighestLevelEducationAdvCert/Apprenticeship', 'T10_4_HCT':'HighestLevelEducationHigherCertificate', 
                                'T10_4_ODNDT':'HighestLevelEducationOrdinaryBachelorDegree', 'T10_4_HDPQT':'HighestLevelEducationHonoursBachelorDegree', 
                                'T10_4_PDT':'HighestLevelEducationPostgraduateDegree', 'T10_4_DT':'HighestLevelEducationDoctorate', 
                                'T10_4_NST':'HighestLevelEducationNotStated',  
                                'T12_3VGT':'GeneralHealthVeryGood', 'T12_3GT':'GeneralHealthGood', 
                                'T12_3FT':'GeneralHealthFair', 'T12_3BT':'GeneralHealthBad', 
                                'T12_3VBT':'GeneralHealthVeryBad', 'T12_3NST':'GeneralHealthNotStated'})

# reset the index of the dataframe as a number of rows were dropped earlier
df_stations = df_stations.reset_index(drop=True)
df_stations.head(40)

,GardaStation,PopulationTotalMale,PopulationTotalFemale,PopulationTotal,PrincipalStatusAtWork,PrincipalStatusLookingForFirstJob,PrincipalStatusUnemployed,PrincipalStatusStudent,PrincipalStatusLookingAfterHome/Family,PrincipalStatusRetired,...,HighestLevelEducationHonoursBachelorDegree,HighestLevelEducationPostgraduateDegree,HighestLevelEducationDoctorate,HighestLevelEducationNotStated,GeneralHealthVeryGood,GeneralHealthGood,GeneralHealthFair,GeneralHealthBad,GeneralHealthVeryBad,GeneralHealthNotStated
0,Kevin Street,14740,14332,29072,13293,410,3015,4736,1158,1997,...,2423,2646,283,1224,15946,8625,2548,476,116,1361
1,Kilmainham,11724,12183,23907,11192,228,2399,2075,1127,2267,...,2344,2208,199,1151,13045,6712,2357,524,171,1098
2,Dun Laoghaire,17676,19938,37614,15146,176,2039,3884,2962,6187,...,3914,4173,551,1070,23149,10073,2938,502,124,828
3,Cabinteely,15800,16954,32754,13227,153,1571,3710,2849,4235,...,3244,2917,336,789,21554,8113,2025,303,74,685
4,Shankill,10929,11765,22694,9171,174,1670,2321,1757,2085,...,1642,1532,171,674,14517,5784,1618,256,57,462
5,Blanchardstown,48192,49886,98078,42376,1007,8585,7726,6018,4626,...,6877,5916,515,3114,62945,25938,5398,904,195,2698
6,Balbriggan,11746,12296,24042,9191,267,2235,1642,1666,1218,...,1024,785,67,576,15012,6532,1638,281,66,513
7,Ballyfermot,13247,14332,27579,9627,339,3234,1922,2074,3133,...,893,788,77,833,14998,8213,3122,546,133,567
8,Ballymun,10408,11267,21675,6870,269,2778,2307,1644,2310,...,684,533,73,940,11863,6412,2150,426,75,749
9,BlackrockCoDublin,15003,16975,31978,13827,145,1152,4352,2363,4091,...,4441,4630,737,552,21700,7535,1883,284,65,511
10,BridewellDublin,11883,11111,22994,10800,340,2773,2769,965,1721,...,2072,2098,207,950,12200,7194,2209,438,91,862
11,Cabra,10342,11509,21851,9363,184,1757,1768,1475,2671,...,1539,1478,127,965,12694,6025,1916,371,70,775
12,Clontarf,17749,19494,37243,16745,244,1845,3784,2405,5361,...,3704,3582,380,980,23158,9954,2903,419,84,725
13,Coolock,25244,26969,52213,20131,418,5113,3952,3939,5554,...,1978,1347,86,1795,29876,15359,4671,795,169,1343
14,Donnybrook,13507,15191,28698,13484,129,1139,5040,1383,3551,...,4357,4565,669,1278,18317,6785,1853,342,123,1278
15,Airport,260,147,407,263,2,17,23,19,44,...,70,44,17,74,209,112,15,4,1,66
16,Finglas,19732,21313,41045,15742,394,4325,2818,3007,4212,...,1636,1161,79,1802,22845,12029,4011,711,155,1294
17,Fitzgibbon Street,9828,9500,19328,8250,430,2538,2532,862,1381,...,1189,1155,115,1515,9643,5979,1830,398,97,1381
18,Garristown,1893,1793,3686,1440,20,223,280,302,334,...,175,108,13,110,2375,931,232,32,9,107
19,Howth,10045,10889,20934,8503,97,1112,1934,1842,3248,...,1929,1719,188,497,13229,5597,1501,235,40,332
20,Irishtown,11222,12447,23669,13231,114,1182,2062,1145,2489,...,3837,4067,493,900,15380,5857,1440,214,50,728
21,Lucan,16999,17770,34769,15299,228,2306,2744,2116,1932,...,2739,2165,177,839,23299,8634,1720,287,57,772
22,Lusk,8969,9311,18280,7739,132,1312,1302,1363,1131,...,1018,751,43,458,11532,5040,1126,196,48,338
23,Malahide,15674,16218,31892,14378,171,1554,3086,2529,3137,...,3209,2663,246,874,21549,7842,1593,223,40,645
24,Mountjoy,11890,11029,22919,9887,257,2392,2709,1167,2550,...,1895,1946,219,1542,12319,6494,2041,362,81,1622
25,Pearse Street,9682,9222,18904,10079,200,1301,3237,780,1254,...,1850,2343,396,2118,10271,5094,1077,179,50,2233
26,Raheny,11890,13097,24987,9641,147,1539,2212,1982,4125,...,1664,1519,147,736,14628,7041,2386,438,105,389
27,Santry,16713,18973,35686,14141,237,2320,4384,2312,5581,...,2558,2236,262,1444,20400,10088,3447,668,151,932
28,Skerries,5567,5844,11411,4358,74,743,1076,958,1175,...,839,696,71,225,7406,2954,764,108,24,155
29,Store Street,10782,10641,21423,11262,305,2043,3342,831,1023,...,1778,1934,179,1753,11770,6385,1451,247,43,1527
30,Sundrive Road,11993,13239,25232,9789,207,2609,1998,1681,3348,...,1454,1224,90,877,13363,7662,2795,562,165,685
31,Swords,24291,24858,49149,23040,342,3369,3684,2917,2724,...,3032,2342,171,1543,30994,13418,2830,426,93,1388
32,Salthill,13856,15474,29330,12545,184,2075,3304,1750,2436,...,2641,3153,583,697,19049,7607,1758,257,42,617
33,Galway,22255,22889,45144,17788,441,4253,8103,2357,4240,...,3052,2924,435,1933,24938,13928,3849,645,153,1631
34,Roscommon,6768,6874,13642,5373,88,942,1057,1018,1564,...,729,545,38,417,8248,3677,1162,202,56,297
35,Athleague,1523,1471,2994,1232,18,183,219,231,333,...,152,118,4,79,1731,897,276,32,7,51
36,Boyle,2992,3114,6106,2349,45,484,422,524,781,...,356,255,17,133,3420,1826,648,78,14,120
37,Ballaghaderreen,3061,2924,5985,1891,43,638,461,577,827,...,192,135,9,173,3271,1742,737,137,22,76
38,Keadue,744,714,1458,543,19,132,101,138,167,...,70,42,7,13,801,454,165,19,7,12
39,Castlerea,3175,2806,5981,2016,48,763,449,460,890,...,224,132,9,300,2949,1916,777,104,19,216

In [5]:
# Extract the number of under 18 Male in each area by summing each age group
ages_male = df_ages[['GEOGDESC', 'T1_1AGE0M', 'T1_1AGE1M', 'T1_1AGE2M', 'T1_1AGE3M', 'T1_1AGE4M', 'T1_1AGE5M',
                             'T1_1AGE6M', 'T1_1AGE7M', 'T1_1AGE8M', 'T1_1AGE9M', 'T1_1AGE10M', 'T1_1AGE11M','T1_1AGE12M',
                             'T1_1AGE13M', 'T1_1AGE14M', 'T1_1AGE15M', 'T1_1AGE16M', 'T1_1AGE17M', 'T1_1AGE18M']]

# Sum Males under 18
col_list = list(ages_male)
ages_male['Total_Under18Male'] = ages_male[col_list].sum(axis=1)

# Add the column containing the total poopulation of under 18 Male to the data frame containing all selected census data information
Total_U18_Male = ages_male['Total_Under18Male']
Total_U18_Male = Total_U18_Male.reset_index(drop=True)
df_stations['Total_Under18Male'] = Total_U18_Male

/Users/JoanMcCarthy/anaconda/envs/comp47350/lib/python3.5/site-packages/ipykernel/__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [6]:
# Extract the number of under 18 Female in each area
ages_female = df_ages[['GEOGDESC', 'T1_1AGE0F', 'T1_1AGE1F', 'T1_1AGE2F', 'T1_1AGE3F', 'T1_1AGE4F', 'T1_1AGE5F',
                             'T1_1AGE6F', 'T1_1AGE7F', 'T1_1AGE8F', 'T1_1AGE9F', 'T1_1AGE10F', 'T1_1AGE11F','T1_1AGE12F',
                             'T1_1AGE13F', 'T1_1AGE14F', 'T1_1AGE15F', 'T1_1AGE16F', 'T1_1AGE17F', 'T1_1AGE18F']]

# Sum Females under 18
col_list_f = list(ages_female)
ages_female['Total_Under18Female'] = ages_female[col_list_f].sum(axis=1)

# Add the column containing the total poopulation of under 18 Female to the data frame containing all selected census data information
Total_U18_Female = ages_female['Total_Under18Female']
Total_U18_Female = Total_U18_Female.reset_index(drop=True)
df_stations['Total_Under18Female'] = Total_U18_Female

/Users/JoanMcCarthy/anaconda/envs/comp47350/lib/python3.5/site-packages/ipykernel/__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [7]:
# Find the total population under 18 (by summing under 18 Male and Female population) for each subdivision
# add this total to the dataframe containing all census information
Total_U18 = [Total_U18_Male[i] + Total_U18_Female[i] for i in range(0, len(Total_U18_Male))]
df_stations['Total_Under18'] = Total_U18
df_stations.head()

,GardaStation,PopulationTotalMale,PopulationTotalFemale,PopulationTotal,PrincipalStatusAtWork,PrincipalStatusLookingForFirstJob,PrincipalStatusUnemployed,PrincipalStatusStudent,PrincipalStatusLookingAfterHome/Family,PrincipalStatusRetired,...,HighestLevelEducationNotStated,GeneralHealthVeryGood,GeneralHealthGood,GeneralHealthFair,GeneralHealthBad,GeneralHealthVeryBad,GeneralHealthNotStated,Total_Under18Male,Total_Under18Female,Total_Under18
0,Kevin Street,14740,14332,29072,13293,410,3015,4736,1158,1997,...,1224,15946,8625,2548,476,116,1361,2077,2072,4149
1,Kilmainham,11724,12183,23907,11192,228,2399,2075,1127,2267,...,1151,13045,6712,2357,524,171,1098,2085,1996,4081
2,Dun Laoghaire,17676,19938,37614,15146,176,2039,3884,2962,6187,...,1070,23149,10073,2938,502,124,828,4006,3976,7982
3,Cabinteely,15800,16954,32754,13227,153,1571,3710,2849,4235,...,789,21554,8113,2025,303,74,685,4157,3983,8140
4,Shankill,10929,11765,22694,9171,174,1670,2321,1757,2085,...,674,14517,5784,1618,256,57,462,3218,2969,6187

In [8]:
# Save the dataframe with selected census statistics for relevant stations to a csv file
final_census = df_stations.to_csv("CensusAll.csv")

In [9]:
# select only subdivisions from Dublin and save to a csv
census_dublin = df_stations.loc[0:31]
census_dublin.to_csv('CensusDublin.csv')